/* Fuentes e iconos */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Gotu&display=swap');

/* Configuraciones globales */
:root{
    --borde-principal: 0px;

    --fondo-header: Beige;
    --fondo-nav: darkslategrey;
    --fondo-main: #404040;
    --fondo-footer: darkslategrey;
    --fondo-card: Beige;
    --fondo-input: Beige;
    --fondo-item: #a0a0a0;
    --fondo-total: Beige;

    --color-nav: Beige;
    --color-h2: AliceBlue;
    --color-about: AliceBlue;
    --color-form: AliceBlue;
    --color-footer: Beige;

    --altura-header: 15vh;
    --altura-nav: 6vh;
    --altura-main: 73vh;
    --altura-footer: 6vh;
    --ancho-compras: 100%;
    --ancho-total: 100%;
}

* {
    margin: 0;
    /*padding: 0; */
    box-sizing: border-box;
    font-family: Gotu, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    h1, h2, h3, h4, h5, h6, p{
        margin: 0;
    }
}

body{
    display: flex;
    flex-direction: column;
}

/* ENCABEZADO */
header{
    height: var(--altura-header);
    border: var(--borde-principal) solid red;
    background-color: var(--fondo-header);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
}

header img{
    height: 100%;
    border-radius: 10vh;
}

header h1{
    width: 70%;
    text-align: center;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.0vw;
}

header a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
}

/* BARRA NAVEGACION */
nav{
    height: var(--altura-nav);
    background-color: var(--fondo-nav);
    font-size: 1.2vw;
}

.nav-link {
    color: var(--color-nav);
}

.nav-link.active {
    font-weight: bolder;
}

/* PRINCIPAL */
main{
    height: var(--altura-main);
    border: var(--borde-principal) solid green;
    background-color: var(--fondo-main);
}

main section{
    height: 100%;
    padding: 1vh 1vw;
    display:flex;
    flex-direction: column;
}

main section h2{
    height: 10%;
    color:var(--color-h2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

/* PIE */ 
footer{
    height: var(--altura-footer);
    border: var(--borde-principal) solid blue;
    background-color: var(--fondo-footer);
    color:var(--color-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

footer a{
    color: var(--color-footer);
}

/* Media Querys Comunes*/
@media only screen and (orientation: portrait) {
    :root{
        --altura-header: 8vh;
        --altura-nav: 3vh;
        --altura-main: 86vh;
        --altura-footer: 3vh;
    }
    
    header a{
        font-size: 2.4vw;
    }

    nav{
        font-size: 2.4vw;
    }

    footer{
        font-size: 2.4vw;
    }

    main section h2{
        font-size: 4vw;
        height: 5%;
    }
}

/* HOME */
.parrafo-about{
    font-size: 1.2vw;
    height: 90%;
    color: var(--color-about);
}

.parrafo-about p{
    margin: 3vh 0;
}

/* Media Querys HOME */
@media only screen and (orientation: portrait) {
    .parrafo-about{
        font-size: 3vw;
    }
}

/* PRODUCTOS */

.productos-paginacion{
    height: 10%;
    font-size: 1.4vw;
}

#botonPagPrevia, #botonPagProxima{
    font-size: 1.0vw;
}

.productos-contenedor{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
    gap: 3vw;
    padding-inline: 2vw;
}

.productos-tarjeta{
    background-color: var(--fondo-card);
}

.productos-img{
    width: 75%;
}

.productos-titulo{
    font-size: 1.2vw;
    height: 35%;
}
.productos-precio{
    font-size: 1.2vw;
}

.productos-boton{
    font-size: 1vw;
}

/* Media Querys PRODUCTOS */
@media only screen and (orientation: portrait) {

    .productos-paginacion{
        height: 5%;
        font-size: 3vw;
    }

    #botonPagPrevia, #botonPagProxima{
        font-size: 2.0vw;
    }

    .productos-contenedor{
        height: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 5vw;
        padding-inline: 4vw;
    }

    .productos-img{
        width: 50%;
    }

    .card-body{
        height: 15vh;
    }

    .productos-titulo{
        font-size: 3vw;
        height: 50%;
    }

    .productos-precio{
        font-size: 3vw;
    }

    .productos-boton{
        font-size: 2.5vw;
    }
}

/* CONTACTO */
.info-contacto{
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-contacto form{
    width: 40%;
    height: 100%;
    font-size: 1.0vw;
    border: 1px white;
    border-radius: 1vh;
    color: var(--color-form);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-contacto iframe{
    width: 40%;
}

.form-linea{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-linea label{
    width: 15%;
}

.form-linea input{
    width: 80%;
    padding: 0.5vh 0.5vw;
    background-color: var(--fondo-input);
}

.form-msg{
    height: 50%;
    display: flex;
    flex-direction: column;
}

.form-msg textarea{
    height: 90%;
    padding: 1vh 0.5vw;
    background-color: var(--fondo-input);
    margin-top: 2vh;
}

.form-botones{
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    
}

.form-botones input{
    font-size: 1.0vw;
    padding: 0.5vh 1vw;
    border-radius: 10%;
    box-shadow: 1vw 1vh 1vw;
}

/* Media Querys CONTACTO */
@media only screen and (orientation: portrait) {
    .info-contacto{
        height: 95%;
        flex-direction: column;
        align-items: center;
        font-size: 3.5vw;
    }

    .info-contacto form{
        width: 90%;
        height: 55%;
        font-size: 2.5vw;
    }

    .info-contacto iframe{
        width: 90%;
        height: 40%;
    }

    .form-botones input{
        font-size: 2.5vw;
    }
}

/* CARRITO */
.carrito-contenedor{
    width: var(--ancho-compras);
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 2fr 15fr 2fr 1fr 2fr 2fr;
    background-color: var(--fondo-item);
    align-items: center;
    gap: 1vw;
    padding: 1vw;
    border-radius: 0.5vw;
    overflow-y:scroll;
    scrollbar-width: none;
}

.carrito-img{
    border-radius: 0.5vw;
    width: 100%;
}

.carrito-titulo{
    font-style: italic;
    font-size: 1.2vw;
    line-height: 10vh;
}

.carrito-precio{
    justify-self: end;
    font-size: 1.2vw;
}

.carrito-cantidad{
    font-size: 1.2vw;
}

.carrito-subtotal{
    justify-self: end;
    font-size: 1.2vw;
    font-weight: bolder;
}

.carrito-boton{
    font-size: 0.8vw;
}

.carrito-total{
    width: var(--ancho-total);
    min-height: 15%;
    display: grid;
    grid-template-columns: 2fr 15fr 2fr 1fr 2fr 2fr;
    align-items: center;
    background-color: var(--fondo-total);
    gap: 1vw;
    padding-inline: 1vw;
    border-radius: 0.5vw;
}

.carrito-comprar , .carrito-vaciar{
    font-size: 0.8vw;
}

.carrito-vaciar{
    width: 20%;
}

/* Media Querys CARRITO */
@media only screen and (orientation: portrait) {
    
    .carrito-contenedor, .carrito-total{
        grid-template-columns: 2fr 7fr 5fr 2fr 5fr 3fr;
        gap: 2vw;
        padding: 2vw;
        border-radius: 1vw;
    }
    
    .carrito-img{
        padding-block: 15%;
    }

    .carrito-titulo{
        font-size: 3vw;
        line-height: 3vh;
    }

    .carrito-precio{
        font-size: 3vw;
    }
    
    .carrito-cantidad{
        font-size: 3vw;
    }

    .carrito-subtotal{
        font-size: 3vw;
    }

    .carrito-boton{
        font-size: 2vw;
    }

    .carrito-total{
        min-height: 5%;
    }

    .carrito-comprar , .carrito-vaciar{
        font-size: 2vw;
    }

    .carrito-vaciar{
        width: 50%;
    }
}

/* RESEÑAS */
#resena-contenedor{
    height: 90%;
    color: var(--color-h2);
    overflow: auto;
}

.resena-item{
    min-height: 15%;
    width: 95%;
    margin-bottom: 3vh;
}

.resena-titulo{
    width: 23%;
    font-size: 1.2vw;
}

.resena-rating{
    font-size: 2.0vw;
    font-family: monospace;
    border: 1px solid yellow;
    height: 55%;
    width: 7%;
    text-align: center;
}

.resena-nombre{
    width: 18%;
    font-size: 1.2vw;
}

.resena-texto{
    width: 39%;
    font-size: 1.2vw;
}

.resena-fecha{
    width: 9%;
    font-size: 1.2vw;
    text-align: center;
}

/* Media Querys RESEÑAS */
@media only screen and (orientation: portrait) {

    .resena-item{
        flex-direction: column;
        width: 65%;
        min-height: 25%;
        padding-block: 1vh;
        margin-bottom: 4vh;
    }

    .resena-titulo, .resena-rating, .resena-nombre, .resena-texto, .resena-fecha{
        width: 90%;
        text-align: center;
        font-size: 3vw;
    }

    .resena-rating{
        font-size: 6vw;
        width: 35%;
        height: 25%;
    }
}