/* Fuentes e iconos */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Gotu&display=swap');

/* Configuraciones globales */
:root{
    --borde-principal: 0px;

    --fondo-header: Beige;
    --fondo-nav: darkslategrey;
    --fondo-main: #404040;
    --fondo-footer: darkslategrey;
    --fondo-card: Beige;
    --fondo-input: Beige;
    --fondo-item: #a0a0a0;
    --fondo-total: Beige;

    --color-nav: Beige;
    --color-h2: AliceBlue;
    --color-about: AliceBlue;
    --color-form: AliceBlue;
    --color-footer: Beige;

    --altura-header: 15vh;
    --altura-nav: 6vh;
    --altura-main: 73vh;
    --altura-footer: 6vh;
    --ancho-compras: 95vw;
    --ancho-total: calc(var(--ancho-compras) - 1.5em);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotu, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
}

/* ENCABEZADO */
header{
    height: var(--altura-header);
    border: var(--borde-principal) solid red;
    background-color: var(--fondo-header);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
}

header img{
    height: 100%;
    border-radius: 10vh;
}

header h1{
    width: 70%;
    text-align: center;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.2vw;
}

header a{
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
}

/* BARRA NAVEGACION */
nav{
    height: var(--altura-nav);
    background-color: var(--fondo-nav);
    font-size: 1.2vw;
}

nav ul{
    height: 100%;
    width: 80%;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: var(--color-nav);
}

/* PRINCIPAL */
main{
    height: var(--altura-main);
    border: var(--borde-principal) solid green;
    background-color: var(--fondo-main);
}

main section{
    height: 100%;
    padding: 1vh 1vw;
    display:flex;
    flex-direction: column;
}

main section h2{
    height: 10%;
    color:var(--color-h2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

/* PIE */ 
footer{
    height: var(--altura-footer);
    border: var(--borde-principal) solid blue;
    background-color: var(--fondo-footer);
    color:var(--color-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

footer a{
    color: var(--color-footer);
}

/* Media Querys Comunes*/
@media only screen and (orientation: portrait) {
    :root{
        --altura-header: 8vh;
        --altura-nav: 3vh;
        --altura-main: 86vh;
        --altura-footer: 3vh;
    }
    
    header a{
        font-size: 3vw;
    }

    nav{
        font-size: 3vw;
    }

    footer{
        font-size: 3vw;
    }

    main section h2{
        font-size: 4vw;
        height: 5%;
    }
}

/* HOME */
.parrafo-about{
    font-size: 1.2vw;
    height: 90%;
    color: var(--color-about);
}

.parrafo-about p{
    margin: 3vh 0;
}

/* Media Querys HOME */
@media only screen and (orientation: portrait) {
    .parrafo-about{
        font-size: 3vw;
    }
}

/* PRODUCTOS */
.tabla-productos{
    height: 90%;
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    overflow: auto;
}

.tarjeta{
    width: 18%;
    height: 72%;
    margin: 1.5vh 0;
    padding: 1.5vh;
    border:1px solid lightgrey;
    border-radius: 1vh;
    background-color: var(--fondo-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tarjeta img{
    height: 60%;
    border: 1px solid lightgray;
}

.tarjeta h4{
    font-style: italic;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
}

.tarjeta p{
    font-weight:bolder;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 2vw;
}

.tarjeta button{
    height: 100%;
    font-size: 1vw;
    padding: 0.1vh 0.5vw;
    border: 2px solid lightgrey;
    border-radius: 0.8vh;
    cursor: pointer;
}

/* Media Querys PRODUCTOS */
@media only screen and (orientation: portrait) {

    .tabla-productos{
        height: 95%;
    }

    .tarjeta{
        width: 45%;
        height: 40%;
    }

    .tarjeta h4{
        font-size: 4vw;
    }

    .tarjeta p{
        font-size: 5vw;
    }

    .tarjeta button{
        font-size: 3.5vw;
    }
}

/* CONTACTO */
.info-contacto{
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-contacto form{
    width: 40%;
    font-size: 1.2vw;
}

.info-contacto iframe{
    width: 40%;
}

.info-contacto form fieldset{
    padding: 1vh 2vw;
    height: 100%;
    border-radius: 1vh;
    color: var(--color-form);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-linea{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-linea label{
    width: 20%;
}

.form-linea input{
    width: 75%;
    padding: 0.5vh 0.5vw;
    background-color: var(--fondo-input);
}

.form-msg{
    height: 50%;
    display: flex;
    flex-direction: column;
}

.form-msg textarea{
    height: 90%;
    padding: 1vh 0.5vw;
    background-color: var(--fondo-input);
}

.form-botones{
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    
}

.form-botones input{
    font-size: 1.2vw;
    padding: 0.5vh 1vw;
    border-radius: 10%;
    box-shadow: 1vw 1vh 1vw;
}

/* Media Querys CONTACTO */
@media only screen and (orientation: portrait) {
    .info-contacto{
        height: 95%;
        flex-direction: column;
        align-items: center;
        font-size: 3.5vw;
    }

    .info-contacto form{
        width: 90%;
        height: 55%;
        font-size: 3.5vw;
    }

    .info-contacto iframe{
        width: 90%;
        height: 40%;
    }

    .form-botones input{
        font-size: 3.5vw;
    }
}

/* CARRITO */
.lista-compras{
    width: var(--ancho-compras);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y:scroll;
}

.item-compra{
    width: 99%;
    height: 20%; 
    background-color: var(--fondo-item);
    margin-bottom: 2vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-compra img{
    height: 90%;
    margin-inline: 1vw;
}

.item-compra p{
    width: 60%;
    margin-inline: 1vw;
    font-style: italic;
    font-size: 3vh;
}

.item-compra h4{
    width: 20%;
    text-align: end;
    margin-inline: 1vw;
    font-weight:bolder;
    font-size: 4vh;
}

.total-compra{
    width: var(--ancho-total);
    height: 10%;
    border-radius: 1vh;
    margin-top: 1vh;
    background-color: var(--fondo-total);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total-compra p{
    width: 60%;
    font-size: 4vh;
    font-weight:bolder;
    font-style: italic;
    /* text-align: end; */
    margin-inline: 1vw;
}

.total-compra h4{
    width: 20%;
    font-weight:bolder;
    font-size: 4vh;
    text-align: end;
    margin-inline: 1vw;
}

/* Media Querys CARRITO */
@media only screen and (orientation: portrait) {
    
}